GRADCONNECT_BASE_URL=http://localhost:8080
GRADCONNECT_CORS_TRUSTED_ORIGINS="http://localhost:8080 http://localhost:3100"
GRADCONNECT_DB_DSN="postgres://<POSTGRES_USER>:<POSTGRES_PASSWORD>@postgres:5432/<POSTGRES_DB>?sslmode=disable"
GRADCONNECT_ENV=
GRADCONNECT_FRONTEND_URL=
GRADCONNECT_R2_ACCESS_KEY_ID=
GRADCONNECT_R2_ACCOUNT_ID=
GRADCONNECT_R2_BUCKET=
GRADCONNECT_R2_ENDPOINT=
GRADCONNECT_R2_PUBLIC_URL=
GRADCONNECT_R2_SECRET_ACCESS_KEY=
GRADCONNECT_SENTRY_DSN=
GRADCONNECT_SENTRY_ENV=
GRADCONNECT_SMTP_HOST=
GRADCONNECT_SMTP_PASSWORD=
GRADCONNECT_SMTP_PORT=1025
GRADCONNECT_SMTP_SENDER="GradConnect <no-reply@gradconnect.ng>"
GRADCONNECT_SMTP_USERNAME=
GRADCONNECT_COOKIE_DOMAIN=
PORT=8080